@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about Computer Science.</p>
</div>
<div class="grid-container">
    <div class="left-column">
        <div>
            <h3>Club information</h3>
            <p>The Beech Grove High School Computer Science Club provides students an opportunity to learn Python programming and earn the Certified Entry-Level Python Programmer certification. Our mission is to foster a community of learners passionate about computer science and coding.</p>
            <p>   For some of our exercises, we will be using <a href="https://replit.com/">Replit</a>, an online coding platform.</p>
        </div>
        <div>
            <h3>Certified Entry-Level Python Programmer Certification</h3>
            <p>Upon completing the program, students will be prepared to take the Python Institute's certification exam to earn their Certified Entry-Level Python Programmer certification. This certification fulfills one of the graduation pathways at Beech Grove High School.</p>
        </div>
    </div>
    <div  class="right-column">
        <div>
            <h3>club leaders</h3>
            <p>Benjamin Mosier, Jacob Olson, and Micah Mosier</p>
        </div>
        <div>
            <img src="https://pythoninstitute.org/assets/61f11fac8e6f4153315957.png" alt="Python Certification badge" width="200" height="200">
        </div>
    </div>
</div>
