@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about Computer Science.</p>
</div>
<div>
    <div class="Text-right">
        <h3>Club information</h3>
        <p>The Beech Grove High School Computer Science Club provides students an opportunity to learn Python programming and earn the Certified Entry-Level Python Programmer certification. Our mission is to foster a community of learners passionate about computer science and coding.</p>
    </div>
    <div class="text-left">
        <h3>club leaders</h3>
        <p>Benjamin Mosier, Jacob Olson, and Micah Mosier</p>
    </div>
</div>
